
*
{ 
  
    margin: 0;
    padding: 0;
    z-index: 3;
}
html,
body{
    
color:#ffffff;

background-color: rgb(5, 5, 55);
font-family: 'Courier New', monospace;

}

.logo
{
  position: fixed;
top: 2%;
  left: 5%;
  max-width: 100px;
  max-height: 100px;
  z-index: 99;

}

button
{
  padding: 2%;
  color:#fff;
  background-color: rgba(255, 255, 255, 0.097);
}
/* light Reflections start */
.lightReflections {
  
    --delay:0s;
    --size:0.4;
    --speed: 10s;
    
    aspect-ratio:1;
    width:calc( 150% * var(--size) );
    
    background: linear-gradient(259.53deg, #000000 20%, #067fff 60%, #d509c8 10%,#8002ff 10% );
    filter:blur( 10vw );
    
    border-radius:50%;
    
    position:absolute;
    top:0;
    left:0;
    
    animation: loop var(--speed) infinite linear;
    animation-delay: var(--delay);
    transform-origin: 50% 50%;
    
    opacity:0.6;
   
  }
  
  @keyframes loop {
    0% { transform: translate3D( 0%, 51%, 0 ) rotate(0deg); }
    5% { transform: translate3D( 8%, 31%, 0 ) rotate(18deg); }
    10% { transform: translate3D( 22%, 13%, 0 ) rotate(36deg); }
    15% { transform: translate3D( 40%, 2%, 0 ) rotate(54deg); }
    20% { transform: translate3D( 46%, 21%, 0 ) rotate(72deg); }
    25% { transform: translate3D( 50%, 47%, 0 ) rotate(90deg); }
    30% { transform: translate3D( 53%, 80%, 0 ) rotate(108deg); }
    35% { transform: translate3D( 59%, 98%, 0 ) rotate(125deg); }
    40% { transform: translate3D( 84%, 89%, 0 ) rotate(144deg); }
    45% { transform: translate3D( 92%, 68%, 0 ) rotate(162deg); }
    50% { transform: translate3D( 99%, 47%, 0 ) rotate(180deg); }
    55% { transform: translate3D( 97%, 21%, 0 ) rotate(198deg); }
    60% { transform: translate3D( 80%, 7%, 0 ) rotate(216deg); }
    65% { transform: translate3D( 68%, 25%, 0 ) rotate(234deg); }
    70% { transform: translate3D( 59%, 41%, 0 ) rotate(251deg); }
    75% { transform: translate3D( 50%, 63%, 0 ) rotate(270deg); }
    80% { transform: translate3D( 38%, 78%, 0 ) rotate(288deg); }
    85% { transform: translate3D( 21%, 92%, 0 ) rotate(306deg); }
    90% { transform: translate3D( 3%, 79%, 0 ) rotate(324deg); }
    100% { transform: translate3D( 0%, 51%, 0 ) rotate(360deg); }

  }

  #aboutMePosition
  {
    position: absolute;
    top: 0;
  }
 
  #portfolioPosition
  {
    position: absolute;
top: 300px;
  }
  
  .lightReflectionsContainer {
    overflow-x:hidden;
    overflow-y: hidden;
    position:fixed;
    
    width:100%;
    min-height:100vh;
  }
  
/* light Reflections end */

.fa-bars
{
  display: none;
}
/* head section start */
#head
{
 
position: fixed;
left: 10%;
top: 20%;
width: 50%;
}

h1
{
font-size: 45px;   
font-weight: 900;
padding-top: 3%;
padding-bottom: 1%;
}


h2
{
font-size: 35px;   
font-weight: 900;
padding-top: 0%;
padding-bottom:0;
}
h3
{
  display: flex;
font-size: 17px;   
padding-top: 5%;
}

/* console Log start */
.consoleLog
{
  
  color:#ffffff8a;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(255, 255, 255);
}



/* console Log end */
/* head section end */


/* about me section start */
#aboutMe
{
position: absolute;
right: 10%;
top: 20%;
width: 40%;
text-align: right;

}

#offer
{
  position: absolute;
  right: 10%;
  top: 2270px;
  width: 40%;
  padding-bottom: 5% !important;
  text-align: right;
}


#certificatesPosition

{
  position: absolute;
  top: 5000px;
}

.aboutMeTextHead
{
  font-size: 20px !important; 

}
/* about me section end */



 /* icone start */
.fa-github
{
  position: absolute;
  top: 20%;
  right: 10%;
}

.fa-picture-o
{
  position: absolute;
  top: 20%;
  right: 55%; 
}

.fa-globe
{
  position: absolute;
  top: 20%;
  right: 10%;
}


.bi-github
{
  
  position: absolute;
left: 15%;
}
/* me image  start */

/* me image  end */
.bi-linkedin
{
  
  position: absolute;

}

.bi-linkedin:hover
{
color: #ffffff;
}
.bi-github:hover
{
color: #ffffff;
}


.bi
{
padding-top: 7%;
width: 34px;
height: 34px;
}

/* portfolio section start */
#portfolio
{

position: absolute; 
top: 500px;
left: 10%;
width: 40%;
text-align: right;
}
/* portfolio section end */


/* Portfolio Image start */
 .portfolioImage0 {
  position: absolute;
  right: -100%;
  top: 0;
  width: 500px;
  opacity: 0.7;
}

.portfolioImage1 {
  position: absolute;
  right: -100%;
  top: 300px; 
  width: 500px;
  opacity: 0.7;
}

.portfolioImage2 {
  position: absolute;
  right: -100%;
  top: 600px; 
  width: 500px;
  opacity: 0.7;
}
.portfolioImage3 {
  position: absolute;
  right: -100%;
  top: 900px; 
  width: 500px;
  opacity: 0.7;
}

.portfolioImage4 {
  position: absolute;
  right: -100%;
  top: 1200px; 
  width: 500px;
  opacity: 0.7;
}
.portfolioImage5 {
  position: absolute;
  right: -100%;
  top: 1500px; 
  width: 500px;
  opacity: 0.7;
}

/* Portfolio Image end */

/* Block Image start */
.blockImage0
{
  position: absolute;
  left: 190%;
  top: 0px;
  width: 100px;
  height: 40px;
  background: linear-gradient(300deg, #ffffff 0%, #ffffff00 0%, #ffffff3a 70%);
  backdrop-filter: blur(4px);
  border-style: none;
}

.blockImage1
{
  position: absolute;
  left: 190%;
  top: 300px;
  width: 100px;
  height: 40px;
  background: linear-gradient(300deg, #ffffff 0%, #ffffff00 0%, #ffffff3a 70%);
  backdrop-filter: blur(4px);
  border-style: none;
}
.blockImage2
{
  position: absolute;
  left: 190%;
  top: 600px;
  width: 100px;
  height: 40px;
  background: linear-gradient(300deg, #ffffff 0%, #ffffff00 0%, #ffffff3a 70%);
  backdrop-filter: blur(4px);
  border-style: none;
}

.blockImage3
{
  position: absolute;
  left: 190%;
  top: 900px;
  width: 100px;
  height: 40px;
  background: linear-gradient(300deg, #ffffff 0%, #ffffff00 0%, #ffffff3a 70%);
  backdrop-filter: blur(4px);
  border-style: none;
}

.blockImage4
{
  position: absolute;
  left: 190%;
  top: 1200px;
  width: 100px;
  height: 40px;
  background: linear-gradient(300deg, #ffffff 0%, #ffffff00 0%, #ffffff3a 70%);
  backdrop-filter: blur(4px);
  border-style: none;
}

.blockImage5
{
  position: absolute;
  left: 190%;
  top: 1500px;
  width: 100px;
  height: 40px;
  background: linear-gradient(300deg, #ffffff 0%, #ffffff00 0%, #ffffff3a 70%);
  backdrop-filter: blur(4px);
  border-style: none;
}

/* Block Image end



/* link  start */
a
{
  color:#ffffff8a;
text-decoration: none;
}
/* link end */

.portfolioImage0:hover, .portfolioImage1:hover,.portfolioImage2:hover,.portfolioImage3:hover ,.portfolioImage4:hover, .portfolioImage5:hover
{
  
opacity: 1;
}



/* certificates section start */
#certificates
{

position: absolute; 
top: 40%; 
left: 10%;
width: 40%;
text-align: right;
}





/* certificates section end */




.sectionOptions
{
position: absolute; 

width: 40%;
padding-top: 5%;
   
}


 .projectsText, .certificatesText,.baseText, .offerText, .aboutMeTextHead, #offerTextMenu
{
  color:#ffffff8a;
    font-size: 20px; 
}


#offerTextMenu:hover
{

  color: #fff;
  background: linear-gradient(-90deg, #ffffff 0%, #ffffff00 0%,  #ffffff3a 100%);
  backdrop-filter: blur(4px);
  display: inline-block;
}

.aboutMeText
{
  color:#ffffff8a;
    font-size: 23px; 

}
/* scrolling start  */
.projectsText--scrolling, .certificatesText--scrolling, .offerText--scrolling
{
  color:#ffffff;
    font-size: 23px;
}

.aboutMeText--scrolling
{
  color:#ffffff;
  font-size: 20px; 
  
}




.projectsText:hover, .certificatesText:hover,.baseText:hover, #offerTextHover:hover
{
  color:#ffffff;
    font-size: 23px;
}

.aboutMeText:hover
{
  color:#ffffff;
  font-size: 23px; 
  
}
/* scrolling end*/



@media (max-width: 1300px)
{
  h3
  {
  
  font-size: 12px !important;   

  }

  .aboutMeTextHead
  {
    font-size: 12px !important; 
  
  }

  .bi
{

width: 24px;
height: 24px;
}



}


@media (max-width: 1150px)
{
  #head
  {
   
  position: absolute;
  text-align: center;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  .bi-github
  {
    left: 20%;
  }
  h3
{
  display:flex;
font-size: 17px;   
padding-top: 5%;
text-align: center;
}



#aboutMe
{
position: absolute;

top: 65.5%;
width: 90%;
text-align: center;
left: 50%;
transform: translate(-50%, -50%);

}

.consoleLogPosition
{
  top: 140px;
  width: 100%;
  position: absolute;
  left: 50%;
transform: translate(-50%, -50%);

}


#offer
{
  position: absolute;
  top: 2550px;
  left: 50%;
  width: 90%;
transform: translate(-50%, -50%); 
}
#portfolio
{

position: absolute; 
top: 97% !important; 

left: 50%;
transform: translate(-50%, -50%);
}

.sectionOptions
{
  
  top: 200px;
  left: 60%;
transform: translate(-50%, -50%);

}


.portfolioImage0,.portfolioImage1,.portfolioImage2,.portfolioImage3,.portfolioImage4,.portfolioImage5
{

  left: 50%;
transform: translate(-50%, -50%);
}
#certificates
{

position: absolute; 
top: 75%; 
left: 50%;
transform: translate(-50%, -50%);
}

.blockImage0, .blockImage1, .blockImage2,.blockImage3,.blockImage4, .blockImage5, .blockImage6
{
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -100px;
}

.aboutMeText,.projectsText,.certificatesText,.baseText, #offerTextHover
{
  display: none;
}
}



@media (max-width: 820px)
{

  .bi-github
  {
    left: 20%;
  }



/* .consoleLog
{
  width: 300px;
} */


}


@media (max-width: 750px)
{

  #offer
{
  
  top: 2620px;
 
}



.consoleLogPosition
{
  width: 500px;
}

.sectionOptions
{
  top: 196px;
}

#portfolio
{



top: 105% !important; 

}


}
@media (max-width: 710px)
{


  .fa-bars
  {
    display: block;
  }
#portfolio
{



top: 95% !important; 

}


.sectionOptions
{
  top: 160px;
  left: 50%;
}

#aboutMe
{

top: 56%;

}


.bi-github
{
left: 55%;
}



 /* Bar and bar icone start */
.bar
{
  position: fixed;
  background: linear-gradient(300deg, #ffffff 0%, #ffffff00 0%, #ffffff3a 70%);
  backdrop-filter: blur(4px);
  border-style: none;
  top: 0;
  width: 100%;
  height:10% ;
  z-index: 50;
}

.menu
{
  position: fixed;
  background-color: rgb(5, 5, 55);

  border-style: none;
  top: 80%;
  width: 100%;
  height:140px ;
  z-index: 30;
}

.barButton
{
  top: 30%;
  position: fixed;
  right: 10%;
  width: 5%;
  height:40% ;
}

.optionsMenu
{
top: 125px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  line-height:20px;
}
#colorText
{
  color:#ffffff8a;

}
#colorText:hover{
  font-size: 19px;
  color:#ffffff;
}
  


.fa-bars
{
font-size: 24px;
}
 /* Bar and bar icone end */
.consoleLogPosition
{
  
  width: 450px;

}

}

@media (max-width: 625px)
{


#portfolio
{
  top: 96% !important; 
}


.consoleLogPosition
{
  top: 110px;
}

.sectionOptions
{
  top: 130px;
}
   h1
   {
font-size: 30px
   }

   h2
   {
    font-size: 30px
   }


  #aboutMe
{

top: 56%;

}


}
@media (max-width: 600px)
{
  h1
  {
font-size: 25px
  }

  h2
  {
   font-size: 25px
  }

  .aboutMeTextHead
  {
    position: absolute;
    width: 350px !important;
    left: 50%;
    transform: translate(-50%, -50%);
  }


}
@media (max-width: 590px)
{

  .consoleLogPosition
  {

    top: 100px;
    max-width: 450px;
    left: 56%;
transform: translate(-50%, -50%);
  }
  
/* Portfolio Image start */
.portfolioImage0 {

  top: 0;
  width: 300px;

}

.portfolioImage1 {
  
  top: 180px; 
  width: 300px;
  
}

.portfolioImage2 {
 
  top: 360px; 
  width: 300px;
 
}
.portfolioImage3 {
  width: 300px;
  top: 540px; 
 
}

.portfolioImage4 {

  top: 720px; 
  width: 300px;
  
}
.portfolioImage5 {
  
  top: 900px; 
  width: 300px;
 
}

/* Portfolio Image end */


/* Block Image start */
.blockImage0 {

  top: 50px;
  

}

.blockImage1 {
  
  top: 230px; 

  
}

.blockImage2 {
 
  top: 410px; 
  
 
}
.blockImage3 {

  top: 590px; 
 
}

.blockImage4 {

  top: 770px; 
  
  
}
.blockImage5 {
  
  top: 950px; 

 
}
/* Block Image end*/


#portfolio
{
  top: 85% !important; 
}

#offer
{
  
  top: 1850px;
 
}

}


@media (max-width: 400px)
{

  h1
  {
font-size: 20px
  }

  h2
  {
   font-size: 20px
  }
  .aboutMeTextHead
  {
   
    width: 305px !important;
  
  }

  #aboutMe
{
  top:60%;
}

#portfolio
{



  top: 90% !important; 

}

}

@media (max-width: 450px)

{

  .consoleLogPosition
{

  top: 100px;
  width: 350px;
  left: 50% !important;
transform: translate(-50%, -50%);

}

h3
{
  font-size: 10px !important;
}
.sectionOptions
{
  
  left: 50%;
}


.bi-github
{
left: 55%;
}

}





@media (max-width: 370px) {
.consoleLogPosition
{

  top: 100px;
  width: 310px;
  left: 50% !important;
transform: translate(-50%, -50%);


}

h3
{
  font-size: 9px !important;
}
.bi-github
{
left: 70%;
}
.sectionOptions
{
  
  left: 50%;
}




#portfolio
{
  top: 90% !important; 
}

}

@media (max-width: 315px)

{
  h1
  {
font-size: 17px
  }

  h2
  {
   font-size: 17px
  }

  .consoleLogPosition
{

  top: 100px;
  width: 250px;
}

.sectionOptions
{
  top: 150px;
  left: 50%;
}


.bi-github
{
left: 70%;
}


}