*
{ 
    margin: 0;
    padding: 0;
    
}

html,
body {
    color: #ffffff;
    background-color: rgb(5, 5, 55);
    font-family: 'Courier New', monospace;
    overflow-x: hidden;
}


/* landing start */
#landing {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(0, 0, 0);
    transition: background 1s 2s;
    pointer-events: none;
    z-index: 998;
}

@keyframes translate {
    0% {
        left: -100px;
    }
    100% {
        left: 110%;
    }
}

/* landing start */

.landingLogo {
    position: absolute;
    top: 50%;
    max-width: 300px;
    max-height: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}



button {
    padding: 2%;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.097);
}

/* light Reflections start */
.lightReflections {
  
  --delay:0s;
  --size:0.4;
  --speed: 10s;
  
  aspect-ratio:1;
  width:calc( 150% * var(--size) );
  
  background: linear-gradient(259.53deg, #000000 20%, #067fff 60%, #d509c8 10%,#8002ff 10% );
  filter:blur( 10vw );
  
  border-radius:50%;
  
  position:absolute;
  top:0;
  left:0;
  
  animation: loop var(--speed) infinite linear;
  animation-delay: var(--delay);
  transform-origin: 50% 50%;
  
  opacity:0.6;
 
}

@keyframes loop {
  0% { transform: translate3D( 0%, 51%, 0 ) rotate(0deg); }
  5% { transform: translate3D( 8%, 31%, 0 ) rotate(18deg); }
  10% { transform: translate3D( 22%, 13%, 0 ) rotate(36deg); }
  15% { transform: translate3D( 40%, 2%, 0 ) rotate(54deg); }
  20% { transform: translate3D( 46%, 21%, 0 ) rotate(72deg); }
  25% { transform: translate3D( 50%, 47%, 0 ) rotate(90deg); }
  30% { transform: translate3D( 53%, 80%, 0 ) rotate(108deg); }
  35% { transform: translate3D( 59%, 98%, 0 ) rotate(125deg); }
  40% { transform: translate3D( 84%, 89%, 0 ) rotate(144deg); }
  45% { transform: translate3D( 92%, 68%, 0 ) rotate(162deg); }
  50% { transform: translate3D( 99%, 47%, 0 ) rotate(180deg); }
  55% { transform: translate3D( 97%, 21%, 0 ) rotate(198deg); }
  60% { transform: translate3D( 80%, 7%, 0 ) rotate(216deg); }
  65% { transform: translate3D( 68%, 25%, 0 ) rotate(234deg); }
  70% { transform: translate3D( 59%, 41%, 0 ) rotate(251deg); }
  75% { transform: translate3D( 50%, 63%, 0 ) rotate(270deg); }
  80% { transform: translate3D( 38%, 78%, 0 ) rotate(288deg); }
  85% { transform: translate3D( 21%, 92%, 0 ) rotate(306deg); }
  90% { transform: translate3D( 3%, 79%, 0 ) rotate(324deg); }
  100% { transform: translate3D( 0%, 51%, 0 ) rotate(360deg); }

}



.lightReflectionsContainer {
  overflow-x:hidden;
  overflow-y: hidden;
  position:fixed;
  
  width:100%;
  min-height:100vh;
}

/* light Reflections end */


.logo
{
  position: fixed;

top: 20px;
left: 5%;
  max-width: 100px;
  max-height: 100px;
  z-index: 99;

}


/* head section start */
#head {
    position: fixed;
    left: 10%;
    top: 20%;
    width: 50%;
    z-index: 1;
}

h1 {
    font-size: 45px;
    font-weight: 900;
    padding-top: 3%;
    padding-bottom: 1%;
}

h2 {
    font-size: 35px;
    font-weight: 900;
    padding-top: 0%;
    padding-bottom: 0;
}

h3 {
    display: flex;
    font-size: 17px;
    padding-top: 5%;
    z-index: 999;
}



/* console Log start */
.consoleLog {

  position: relative;
 font-size: 20px;
    color: #ffffff8a;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 255, 255);
}

/* console Log end */
/* head section end */


/* me image */
.meImage
{
margin-top: -5.5%;
  left: 78%;
  width: 55%;
  position:absolute;
  opacity: 0.3;
  top: 0;
  z-index: 0;
}

/* About Me section */
#aboutMe {
  
    position: relative;
    left: 50%;
    width: 40%;
    text-align: right;
margin-bottom: 54px;



}

/* Offer section */
#offer {
    position: relative;
    left: 50%;
    width: 40%;
    text-align: right;
    margin: 5px;
    margin-bottom:5% ;
}



/* Git API */

.showRepo 
{
  line-height: 1.5;
  position: relative;
  color: #ffffff8a;
  margin-top: 10px;
  padding-top: 15px;

  overflow-wrap: break-word; 
  font-size: 20px;
  font-weight: 900;
}

.lengthRepo
{
  position: relative;
  color: #ffffff;
  padding-bottom: 0px;
  padding-top: 15px;
  font-size: 25px;
  font-weight: 900;
}

.showRepo p:hover
{
  
  color: #ffffff;

}

#GitHubRESTAPI
{
  position: relative;
  left: 50%;
  width: 40%;
  text-align: right;
  margin: 5px;
  margin-bottom: 10px;
  margin-top:10px;
}



/* Cooperation section */
#cooperation {
    position: relative;
    left: 50%;
    width: 40%;
    text-align: right;
    margin: 5px;
}

/* Portfolio section */
#portfolio {
    position: relative;
    left: 10%;
    width: 40%;
    text-align: right;
    margin: 5px;

}

.aboutMeTextHead  {
    font-size: 20px !important;

}

/* about me section end */

/* icon start */
.fa-github {
    position: absolute;
    top: 20%;
    right: 10%;
}

.fa-picture-o {
    position: absolute;
    top: 20%;
    right: 55%;
}

.fa-globe {
    position: absolute;
    top: 20%;
    right: 10%;
}

.bi-linkedin:hover {
    color: #ffffff;
}

.bi-github:hover {
    color: #ffffff;
}

.bi {
    position: relative;
    padding: 5px;
    width: 34px;
    height: 34px;


}


/* icon end */

/* Portfolio Image start */
.portfolioImage0,
.portfolioImage1,
.portfolioImage2,
.portfolioImage3,
.portfolioImage4,
.portfolioImage5 {
    position: relative;
    right: -100%;
  margin-bottom: -30px;
  margin-top: 10px;
    width: 500px;
    opacity: 0.7;
}

/* Portfolio Image end */

/* Block Image start */
.blockImage0,
.blockImage1,
.blockImage2,
.blockImage3,
.blockImage4,
.blockImage5 {
    position: relative;
    left: 183.5%;
    width: 100px;
    height: 40px;
    background: linear-gradient(300deg, #ffffff 0%, #ffffff00 0%, #ffffff3a 70%);
    backdrop-filter: blur(4px);
    border-style: none;
}

/* Block Image end */

/* link start */
a {
    color: #ffffff8a;
    text-decoration: none;
}

/* link end */

.portfolioImage0:hover,
.portfolioImage1:hover,
.portfolioImage2:hover,
.portfolioImage3:hover,
.portfolioImage4:hover,
.portfolioImage5:hover {
    opacity: 1;
}

/* certificates section start */
#certificates {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 40%;
    text-align: right;
 
}

/* certificates section end */
.sectionOptions
{
position: relative; 

width: 40%;
margin-top: 5px; 
margin-bottom: 5px;
   
}


 .projectsText, .certificatesText,.baseText, .offerText, .aboutMeTextHead, #offerTextMenu,#cooperationTextMenu, .cooperationText,.aboutMeText
 
{
  color:#ffffff8a;
    font-size: 20px; 
}


#offerTextMenu:hover, #cooperationTextMenu:hover, #GitHubRESTAPI:hover
{

  color: #fff;
  background: linear-gradient(-90deg, #ffffff 0%, #ffffff00 0%,  #ffffff3a 100%);
  backdrop-filter: blur(4px);
  display: inline-block;
}


/* scrolling start  */
.projectsText--scrolling, .offerText--scrolling, .cooperationText--scrolling,.aboutMeText--scrolling
{
  color:#ffffff;
    font-size: 23px;
}

.projectsText:hover,.baseText:hover, #offerTextHover:hover, #cooperationTextHover:hover
{
  color:#ffffff;
    font-size: 23px;
}

.aboutMeText:hover
{
  color:#ffffff;
  font-size: 23px; 
  
}
/* scrolling end*/
/* bar menu start */
.fa-bars {
  display: none;
}

.barButton
{
display: none;
}


/* bar menu end */




@media screen and (max-width: 1150px) {

  h3 {
   
    padding-top: 0%;
  
}
  .logo
  {
    position: relative;
  }







  .consoleLogPosition
  {
 
  }




  
 
 /* Bar and bar icone start */

 .burgerMenu {
  background: linear-gradient(300deg, #ffffff 0%, #ffffff00 0%, #ffffff3a 70%);
  backdrop-filter: blur(4px);

  position: relative;
  border-radius: 100%;
  top: -15px;
  width: 80px;
  height: 80px;
  z-index: 890;
}

.barButton
{
  
position: absolute;
 display:block;
 right: 5%;
  top: 30%;
}


 .bar
 {
   position: fixed;
   background: linear-gradient(300deg, #ffffff00 0%, #ffffff00 0%, #ffffff00 70%);
   backdrop-filter: blur(0px);
   border-style: none;
   top: 0;
   width: 100%;
   height:10% ;
   z-index: 50;
 }
 
 .menu
 {
   position: fixed;
   background: rgba(18, 1, 100, 0.699);
   backdrop-filter: blur(4px);
   border-style: none;
   top: 0%;
   width: 100%;
   height: 200px;
   z-index: 100;
   
 }
 

 .optionsMenu
 {
 top: 80px;
   position: fixed;
   left: 50%;
   transform: translate(-50%, -50%);

   line-height:20px;
z-index: 700;
 }
 #colorText
 {

padding: 0.5px;
   color:#ffffff;
 z-index: 800;
 }
 #colorText:hover{
   font-size: 19px;
   color:#ffffff;
 }
 

.fa-bars
{
  position: relative;
font-size: 24px;
left: 4%;
}
 /* Bar and bar icone end */

    h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 5vw;
    }

  
    .aboutMeText,.projectsText,.baseText, #offerTextHover, #cooperationTextHover,.certificatesText 
{
  display: none;
}

.consoleLog 
{
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 5%;
  width: 97%;
  font-size: 15px;
}
.meImage
{
margin-top: -12%;
  left: 80%;
  width: 350px;
  position:absolute;
  opacity: 0.3;
  top: 0;
  z-index: 0;
}
    #head,
    #aboutMe,
    #offer,
    #cooperation,
    #portfolio,
    #certificates,
    #GitHubRESTAPI{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 97%;
        text-align: center;
        margin: 20px 0;
        margin-bottom: 10%;
    }

    .portfolioImage0,
    .portfolioImage1,
    .portfolioImage2,
    .portfolioImage3,
    .portfolioImage4,
    .portfolioImage5 {
        right: 0;
        width: 100%;
    }

    .blockImage0,
    .blockImage1,
    .blockImage2,
    .blockImage3,
    .blockImage4,
    .blockImage5 {
        left: 50%;
        transform: translateX(-50%);
    }

}



@media screen and (max-width: 900px) {


  .meImage
{

  left:60%;

}

}




@media screen and (max-width: 500px) {


  .meImage
{

  left:50%;
  margin-top: 3%;
  opacity: 0.3;
}

}
