@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');
*
{ 
  
    margin: 0;
    padding: 0;
    z-index: 3;
}
html,
body{
    
color:#ffffff;

background-color: rgb(5, 5, 55);
font-family: JetBrains Mono, monospace;

}


/* light Reflections start */
.lightReflections {
  
    --delay:0s;
    --size:0.4;
    --speed: 10s;
    
    aspect-ratio:1;
    width:calc( 150% * var(--size) );
    
    background: linear-gradient(259.53deg, #000000 20%, #067fff 60%, #d509c8 10%,#8002ff 10% );
    filter:blur( 10vw );
    
    border-radius:50%;
    
    position:absolute;
    top:0;
    left:0;
    
    animation: loop var(--speed) infinite linear;
    animation-delay: var(--delay);
    transform-origin: 50% 50%;
    
    opacity:0.6;
   
  }
  
  @keyframes loop {
    0% { transform: translate3D( 0%, 51%, 0 ) rotate(0deg); }
    5% { transform: translate3D( 8%, 31%, 0 ) rotate(18deg); }
    10% { transform: translate3D( 22%, 13%, 0 ) rotate(36deg); }
    15% { transform: translate3D( 40%, 2%, 0 ) rotate(54deg); }
    20% { transform: translate3D( 46%, 21%, 0 ) rotate(72deg); }
    25% { transform: translate3D( 50%, 47%, 0 ) rotate(90deg); }
    30% { transform: translate3D( 53%, 80%, 0 ) rotate(108deg); }
    35% { transform: translate3D( 59%, 98%, 0 ) rotate(125deg); }
    40% { transform: translate3D( 84%, 89%, 0 ) rotate(144deg); }
    45% { transform: translate3D( 92%, 68%, 0 ) rotate(162deg); }
    50% { transform: translate3D( 99%, 47%, 0 ) rotate(180deg); }
    55% { transform: translate3D( 97%, 21%, 0 ) rotate(198deg); }
    60% { transform: translate3D( 80%, 7%, 0 ) rotate(216deg); }
    65% { transform: translate3D( 68%, 25%, 0 ) rotate(234deg); }
    70% { transform: translate3D( 59%, 41%, 0 ) rotate(251deg); }
    75% { transform: translate3D( 50%, 63%, 0 ) rotate(270deg); }
    80% { transform: translate3D( 38%, 78%, 0 ) rotate(288deg); }
    85% { transform: translate3D( 21%, 92%, 0 ) rotate(306deg); }
    90% { transform: translate3D( 3%, 79%, 0 ) rotate(324deg); }
    100% { transform: translate3D( 0%, 51%, 0 ) rotate(360deg); }

  }

  
  
  .lightReflectionsContainer {
    overflow-x:hidden;
    overflow-y: hidden;
    position:fixed;
    
    width:100%;
    min-height:100vh;
  }
  
/* light Reflections end */

/* head section start */
#head
{
 
position: fixed;
left: 10%;
top: 20%;
width: 50%;
}

h1
{
font-size: 45px;   
font-weight: 900;
padding-top: 3%;
padding-bottom: 1%;
}


h2
{
font-size: 35px;   
font-weight: 900;
padding-top: 0%;
padding-bottom:0;
}
h3
{
  display: flex;
font-size: 17px;   
padding-top: 5%;
}

/* console Log start */
.consoleLog
{
  
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(255, 255, 255);
}



/* console Log end */
/* head section end */


/* about me section start */
#aboutMe
{
position: absolute;
right: 10%;
top: 20%;
width: 40%;
text-align: right;

}

#certificatesPosition

{
  position: absolute;
  top: 5000px;
}

.aboutMeTextHead
{
  font-size: 20px !important; 

}
/* about me section end */


/* portfolio section start */
#portfolio
{

position: absolute; 
left: 10%;
width: 40%;
text-align: right;
}
 /* icone start */
.fa-github
{
  position: absolute;
  top: 20%;
  right: 10%;
}

.fa-picture-o
{
  position: absolute;
  top: 20%;
  right: 55%; 
}

.fa-globe
{
  position: absolute;
  top: 20%;
  right: 10%;
}


.bi-github
{
  
  position: absolute;
left: 15%;
}
/* me image  start */

/* me image  end */
.bi-linkedin
{
  
  position: absolute;

}


.bi
{
padding-top: 7%;
width: 34px;
height: 34px;
}

 /* icone end */


.portfolioImage0
{
  
  position: absolute;

right: -100%;
top: 500px; 
width: 500px;

opacity: 0.7;
}
.blockImage0
{

  position: absolute;
  left: 190%;
  top: 695px; 
  width: 100px;
  height: 40px;
 
  background: linear-gradient(300deg, #ffffff 0%, #ffffff00 0%, #ffffff3a 70%);
  backdrop-filter: blur(4px);
  border-style: none;

}
.blockImage1
{
  
  position: absolute;
  left: 190%;
  top: 1046px; 
  width: 100px;
  height: 40px;
  background: linear-gradient(300deg, #ffffff 0%, #ffffff00 0%, #ffffff3a 70%);
  backdrop-filter: blur(4px);
  border-style: none;

}

.portfolioImage1
{
position: absolute;

right: -100%;
top: 850px; 
width: 500px;
opacity: 0.7;
}

.blockImage2
{
  
  position: absolute;
  left: 190%;
  top: 1397px; 
  width: 100px;
  height: 40px;
  background: linear-gradient(300deg, #ffffff 0%, #ffffff00 0%, #ffffff3a 70%);
  backdrop-filter: blur(4px);
  border-style: none;

}

.portfolioImage2
{
position: absolute;

right: -100%;

top: 1200px; 
width: 500px;
opacity: 0.7;
}

.blockImage3
{
  
  position: absolute;
  left: 190%;
  top: 1749px; 
  width: 100px;
  height: 40px;
  background: linear-gradient(300deg, #ffffff 0%, #ffffff00 0%, #ffffff3a 70%);
  backdrop-filter: blur(4px);
  border-style: none;

}

.portfolioImage3
{
position: absolute;

right: -100%;
top: 1550px; 
width: 500px;
opacity: 0.7;
}

.blockImage4
{
  
  position: absolute;
  left: 190%;
  top: 2098px; 
  width: 100px;
  height: 40px;
  background: linear-gradient(300deg, #ffffff 0%, #ffffff00 0%, #ffffff3a 70%);
  backdrop-filter: blur(4px);
  border-style: none;

}

.portfolioImage4
{
position: absolute;

right: -100%;
top: 1901px; 
width: 500px;
opacity: 0.7;
}

.blockImage5
{
  
  position: absolute;
  left: 190%;
  top: 2452px; 
  width: 100px;
  height: 40px;
  background: linear-gradient(300deg, #ffffff 0%, #ffffff00 0%, #ffffff3a 70%);
  backdrop-filter: blur(4px);
  border-style: none;

}

.portfolioImage5
{
position: absolute;

right: -100%;
top: 2251px; 
width: 500px;
opacity: 0.7;
}


/* portfolio section end */

/* link  start */
a
{
color: #ffffff;
text-decoration: none;
}
/* link end */

.portfolioImage0:hover, .portfolioImage1:hover,.portfolioImage2:hover,.portfolioImage3:hover ,.portfolioImage4:hover, .portfolioImage5:hover
{
  
opacity: 1;
}



/* certificates section start */
#certificates
{

position: absolute; 
top: 40%; 
left: 10%;
width: 40%;
text-align: right;
}



.certificatesImage0
{
  
  position: absolute;

right: -100%;
top: 2351px; 
width: 500px;

opacity: 0.7;
}
.blockImage6
{

  position: absolute;
  left: 190%;
  top: 2550px; 
  width: 100px;
  height: 40px;
 
  background: linear-gradient(300deg, #ffffff 0%, #ffffff00 0%, #ffffff3a 70%);
  backdrop-filter: blur(4px);
  border-style: none;

}
.blockImage7
{
  
  position: absolute;
  left: 190%;
  top: 2902px;
  width: 100px;
  height: 40px;
  background: linear-gradient(300deg, #ffffff 0%, #ffffff00 0%, #ffffff3a 70%);
  backdrop-filter: blur(4px);
  border-style: none;

}

.certificatesImage1
{
position: absolute;

right: -100%;
top: 2701px; 
width: 500px;
opacity: 0.7;
}

.blockImage8
{
  
  position: absolute;
  left: 190%;
  top: 3255px; 
  width: 100px;
  height: 40px;
  background: linear-gradient(300deg, #ffffff 0%, #ffffff00 0%, #ffffff3a 70%);
  backdrop-filter: blur(4px);
  border-style: none;

}

.certificatesImage2
{
position: absolute;

right: -100%;

top: 3051px; 
width: 500px;
opacity: 0.7;
}


/* certificates section end */



.certificatesImage0:hover, .certificatesImage1:hover,.certificatesImage2:hover
{
  
opacity: 1;
}
.sectionOptions
{
position: absolute; 

width: 40%;
padding-top: 5%;
   
}


 .projectsText, .certificatesText 
{
    color: rgb(218, 218, 218);
    font-size: 20px; 
}


.aboutMeText
{
  color: rgb(255, 255, 255);
    font-size: 23px; 

}
/* scrolling start  */
.projectsText--scrolling, .certificatesText--scrolling
{
    color: rgb(255, 255, 255);
    font-size: 23px;
}

.aboutMeText--scrolling
{
  color: rgb(218, 218, 218);
  font-size: 20px; 
  
}

/* scrolling end*/

@media (max-width: 1300px)
{
  h3
  {
  
  font-size: 12px !important;   

  }

  .aboutMeTextHead
  {
    font-size: 12px !important; 
  
  }

  .bi
{

width: 24px;
height: 24px;
}


.blockImage0, .blockImage1, .blockImage2,.blockImage3,.blockImage4, .blockImage5, .blockImage6, .blockImage7,.blockImage8, .blockImage9, .blockImage10, .blockImage11
{
  left: 180%;
}
}


@media (max-width: 1150px)
{
  #head
  {
   
  position: absolute;
 
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  .bi-github
  {
    left: 20%;
  }
  h3
{
  display:flex;
font-size: 17px;   
padding-top: 5%;
}

#aboutMe
{
position: absolute;

top: 70%;
width: 50%;
text-align: left;
left: 50%;
transform: translate(-50%, -50%);

}

#portfolio
{

position: absolute; 
top: 25% !important; 
width: 200px;
height: 100px;
left: 45%;
transform: translate(-50%, -50%);
}

#certificates
{

position: absolute; 
top: 75%; 
width: 200px;
height: 200px;
left: 45%;
transform: translate(-50%, -50%);
}

.blockImage0, .blockImage1, .blockImage2,.blockImage3,.blockImage4, .blockImage5, .blockImage6, .blockImage7,.blockImage8, .blockImage9, .blockImage10, .blockImage11
{
  left: 155%;
}
}


@media (max-width: 820px)
{
  #head
  {
   
  position: absolute;
 
  top: 20%;
  width: 70%;
  transform: translate(-50%, -50%);
  }

  .bi-github
  {
    left: 20%;
  }
  h3
{
  display:flex;
font-size: 17px;   
padding-top: 5%;
}

#aboutMe
{
position: absolute;

top: 70%;
width: 50%;
text-align: left;
width: 70%;
transform: translate(-50%, -50%);

}

#portfolio
{

position: absolute; 
top: 35% !important; 
left:45%;
transform: translate(-50%, -50%);
}

#certificates
{

position: absolute; 
top: 80%; 

left:45%;
transform: translate(-50%, -50%);
}



}
@media (max-width: 590px)
{


  #head
  {

    width: 95%;
  }





#aboutMe
{

top: 70%;

width: 95%;

}
.blockImage0, .blockImage1, .blockImage2,.blockImage3,.blockImage4, .blockImage5, .blockImage6, .blockImage7,.blockImage8, .blockImage9, .blockImage10, .blockImage11
{
  left: 100%;
}
#portfolio
{
  left:40.5%;
  transform: translate(-50%, -50%);
}
#certificates
{
  left:40.5%;
  transform: translate(-50%, -50%);
}

h1
{
  font-size: 25px;  
}
h2
{
  font-size: 25px;  
}
.consoleLog
{
  font-size: 10px;
}

h3
{
  font-size: 10px !important;
}

}



@media (max-width: 320px)
{

  .bi-github
  {
    left: 30%;
  }
}

